%h1
  = @reviews.size
  games scored
  = @score
  in 2009:
  
%table
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th Score
  %tbody
    - for review in @reviews
      %tr
        %td= review.written_on
        %td= link_to review.title, review.url
        %td= review.platform
        %td= link_to review.writer.name, writer_path(review.writer)
        %td
          %b= review.score