- content_for :title do
  About : 

%h1 About the Eurogamer 2009 Scores Analysis

%h2 Colophon

%p
  Fonts by
  = link_to "Typekit", "http://typekit.com/"
  and 
  = link_to "The League Of Moveable Type.", "http://www.theleagueofmoveabletype.com/"
  Graphing by 
  = link_to "gRapahël", "http://g.raphaeljs.com/"
  and the
  = link_to "Google Chart API.", "http://code.google.com/apis/chart/"
  Deployed on
  = link_to "Heroku.", "http://heroku.com"
%p
  All scores and any other content from
  = link_to "Eurogamer", "http://eurogamer.net"
  and 
  = link_to "Metacritic", "http://metacritic.com"
  belong to them. This site is 
  %i not in any way
  affiliated with Eurogamer.

%p
  Built by
  = link_to "Tom Armitage.", "http://infovore.org"