- content_for :title do
  Writers : 

%h2 Writers

%table
  %thead
    %tr
      %th Writer
      %th Reviews
      %th Average score
      %th Minimum score
      %th Maximum score
  %tbody
    - for writer in @writers
      %tr
        %td= link_to writer.name, writer_path(writer)
        %td= writer.reviews.size
        %td= writer.average_score
        %td= writer.min_score
        %td= writer.max_score