- content_for :title do
  Writers : 

%h2 Writers

%table.norm
  %thead
    %tr
      %th Writer
      %th Reviews
      %th Average score
      %th Minimum score
      %th.last Maximum score
  %tbody
    - for writer in @writers
      %tr
        %td= link_to writer.name, writer_path(writer)
        %td= writer.reviews.size
        %td.score= "%0.3f" % writer.average_score if writer.average_score
        %td.score= writer.min_score
        %td.score.last= writer.max_score