- content_for :title do
  Writers : 

%h2 Writers

%table.norm
  %thead
    %tr
      %th Writer
      %th Reviews
      %th Minimum score
      %th Maximum score
      %th Average score
      %th Deviance
      %th Contribution
      %th.last Generosity
  %tbody
    - for writer in @writers
      %tr
        %td
          = link_to writer.name, writer_path(writer)
          %img{:src => Gchart.sparkline(:data => writer.year_of_reviews.map {|week, reviews| reviews.map {|r| r.score || 0}.sum / (reviews.size > 0 ? reviews.size : 1)}, :size => '100x10', :line_colors => '207ef9')}
        %td.black= writer.reviews.size
        %td.score= writer.min_score
        %td.score= writer.max_score
        %td.score= positive_symbol(writer.average_score) + "%0.3f" % writer.average_score rescue ""
        %td.contribution= positive_symbol(writer.deviance) + "%0.3f" % writer.deviance rescue ""
        %td.contribution= "%0.1f" % writer.contribution_percentage rescue ""
        %td.score.last= positive_symbol(writer.generosity) + "%0.1f" % writer.generosity rescue ""
        