- content_for :title do
  = @writer.name
  \: Writers : 

%h2= @writer.name

%p
  %b
    = @writer.name
  reviewed
  %b= "#{pluralize(@writer.reviews.size, "game")}."
  = "Their average score was <b>#{@writer.average_score}</b>; their lowest score was <b>#{@writer.min_score}</b> and their highest was <b>#{@writer.max_score}</b>."

%table.norm
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th Score
  %tbody
    = render :partial => "reviews/review", :collection => @writer.reviews