- content_for :javascript do
  = javascript_include_tag "raphael-min", "g.raphael-min", "g.bar-min.js", "g.pie-min.js"
  :javascript
    $(document).ready(function() {
      var pies = new Array();
      
      var paper = Raphael("score-pie", 400, 220);
      var pie = paper.g.piechart(120, 120, 80, [#{@writer.score_distribution.map {|s,c| c.to_i}.join(",")}], {legend: ['#{@writer.score_distribution.map {|s,c| c.to_s + ' games scoring ' + s.to_s}.join("','")}']});
      pies.push(pie);
      
      for(i=0;i<pies.length;i++) {
        pies[i].hover(function () {
          this.sector.stop();
          this.sector.scale(1.1, 1.1, this.cx, this.cy);
          if (this.label) {
            this.label[0].stop();
            this.label[0].scale(1.5);
            this.label[1].attr({"font-weight": 800});
          }
        }, function () {
          this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
          if (this.label) {
            this.label[0].animate({scale: 1}, 500, "bounce");
            this.label[1].attr({"font-weight": 400});
          }
        });
      }
    });

- content_for :title do
  = @writer.name
  \: Writers : 

%table.writer
  %tr
    %th.writer{:rowspan => 2}
      %h2= @writer.name
    %th Reviews
    %th Average score
    %th Minimum score
    %th Maximum score
    %th Deviance
    %th Contribution
    %th.last Generosity
  %tr
    %td= @writer.reviews.size
    %td.score= "%0.3f" % @writer.average_score
    %td.score= @writer.min_score
    %td.score= @writer.max_score
    %td= "%0.3f" % @writer.deviance
    %td= "%0.3f" % @writer.contribution
    %td.last= "%0.3f" % @writer.generosity

.graphs
  .grid_5.alpha
    #score-pie
  .grid_7.omega{:style => "padding-top: 20px"}
    %img{:src => Gchart.line(:data => @writer.year_of_reviews.map {|week, reviews| reviews.map {|r| r.score || 0}.sum / (reviews.size > 0 ? reviews.size : 1)}, :line_colors => "207ef9", :axis_with_labels => 'x', :axis_labels => ['Jan|Feb|Mar|Apr|Mar|Jun|Jul|Aug|Sep|Oct|Nov|Dec','1|2|3|4|5|6|7|8|9|10'], :size => "540x200")}
  =cleardiv

%table.norm
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th.last Score
  %tbody
    = render :partial => "reviews/review", :collection => @writer.reviews
    
/ .debug
/   - @writer.year_of_reviews.each do |week, reviews|
/     %h3= week
/     %ul
/       - for review in reviews
/         %li= review.title
/   