- content_for :title do
  = @writer.name
  \: Writers : 

%h2= @writer.name

%table.writer
  %thead
    %tr
      %th Reviews
      %th Average score
      %th Minimum score
      %th.last Maximum score
  %tbody
    %tr
      %td= @writer.reviews.size
      %td= @writer.average_score
      %td= @writer.min_score
      %td.last= @writer.max_score

%table.norm
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th Score
  %tbody
    = render :partial => "reviews/review", :collection => @writer.reviews