- content_for :title do
  = @writer.name
  \: Writers : 

%table.writer
  %tr
    %th.writer{:rowspan => 2}
      %h2= @writer.name
    %th Reviews
    %th Average score
    %th Minimum score
    %th.last Maximum score
  %tr
    %td= @writer.reviews.size
    %td= "%0.3f" % @writer.average_score
    %td= @writer.min_score
    %td.last= @writer.max_score

%table.norm
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th Score
  %tbody
    = render :partial => "reviews/review", :collection => @writer.reviews