%h1= @writer.name

%table
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th Score
  %tbody
    - for review in @writer.reviews
      %tr
        %td= review.written_on
        %td= link_to review.title, review.url
        %td= review.platform
        %td= link_to review.writer.name, writer_path(review.writer)
        %td
          %b= review.score