%tr
  %td= format_date(review.written_on)
  %td
    = link_to review.title, review_path(review)
    = "[<i>#{link_to ("read EG review", review.url)}</i>]"
  %td.center= review.platform
  %td= link_to review.writer.name, writer_path(review.writer)
  - if review.score
    %td.score= link_to review.score, "/scores/#{review.score}"
  - if review.metacritic_score
    %td.black.last= positive_symbol(review.metacritic_delta) + review.metacritic_delta.to_s + "%"
  - else
    %td.last -
