%tr
  %td= format_date(review.written_on)
  %td
    = link_to review.title, review_path(review)
    = "[<i>#{link_to ("read EG review", review.url)}</i>]"
  %td.center= review.platform
  %td= link_to review.writer.name, writer_path(review.writer)
  - if review.score
    %td.last.score= link_to review.score, "/scores/#{review.score}"