%table.writer
  %tr
    %th.writer{:rowspan => 2}
      %h2= @review.title
    %th Reviewed By
    %th Score
    %th Compared to EG average
    %th Compared to writer's average
    %th Metacritic score
    %th.last Compared to Metacritic
  %tr
    %td= link_to @review.writer.name, writer_path(@review.writer)
    %td.score= link_to @review.score, "/scores/#{@review.score}"
    %td= "%0.3f" % (@review.score.to_f - Review.average(:score))
    %td= "%0.3f" % (@review.score.to_f - @review.writer.average_score)
    %td= link_to @review.metacritic_score, @review.metacritic_url
    %td.last= (@review.score.to_f * 10) - @review.metacritic_score



%p= link_to "Read the review on Eurogamer.net", @review.url


%p= link_to "Back to all reviews", reviews_path