%table.writer
  %tr
    %th.writer{:rowspan => 2}
      %h2= @review.title
    %th Reviewed By
    %th Score
    %th Compared to EG average
    %th Compared to Metacritic
    %th.last Compared to writer's average
  %tr
    %td= link_to @review.writer.name, writer_path(@review.writer)
    %td.score= link_to @review.score, "/scores/#{@review.score}"
    %td= @review.score - Review.average(:score)
    %td xx
    %td.last= @review.score - @review.writer.average_score


%p= link_to "Read the review on Eurogamer.net", @review.url


- if @review.metacritic_url
  %p
    %b Metacritic:
    - link_to @review.metacritic_url, @review.metacritic_url

%p= link_to "Back to all reviews", reviews_path